#version=RHEL8
text

%packages
@^server-product-environment
@headless-management
@remote-system-management
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp3s0 --ipv6=auto --activate
network  --hostname=books.jsck.network


# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=nvme0n1
autopart
# Partition clearing information
clearpart --drives=nvme0n1 --all --initlabel


# System timezone
timezone America/Chicago

# Root password
rootpw --iscrypted $6$AAW7mvypDRcWhcWZ$OVoZ8PVN85.eHl1JP6ypbjHdD9/0.AtBA9kJ5KbG9eGRQIi0VdR2QCWX1/oqwqWYgWbS8zxdvGQbTWBx1IVHl0
user --groups=wheel --name=jsck --password=$6$TWvzx2YpE81m.eZA$fQdZQ0LcBfxtV8nExIET5dgETwjqK1l6Pu2/CiiygYVbMwOgvXHducwE6dK7XYNc9DKiO.7xc3JVjAiIe4sVY0 --iscrypted --gecos="Jack"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
