apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: cluster
  name: {{ hostname }}
  namespace: argocd
type: Opaque
stringData:
  name: {{ hostname }}
  server: https://{{ hostname }}:6443
  config: '{ "tlsClientConfig": { "insecure": false, "certData": "{{ config["clusters"][0]["cluster"]["certificate-authority-data"] }}", "keyData": "{{ config["users"][0]["user"]["client-key-data"] }}", "caData": "{{ config["users"][0]["user"]["client-certificate-data"] }}" } }'
