apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: cluster
  name: wailord
  namespace: argocd
type: Opaque
stringData:
  name: {{ hostname }}
  server: https://{{ hostname }}:6443
  config: |
    {
      "tlsClientConfig": {
        "insecure": false,
        "certData": "{{ cert_data }}",
        "keyData": "{{ key_data }},
        "caData": "{{ ca_data }}"
      }
    }
