{# Template for lxc containers #}
resource "proxmox_lxc" "{{ name }}" {
  provider     = proxmox.fateful
  target_node  = "fateful"
  hostname     = "{{ name }}.jackhil.de"
  ostemplate   = "local:vztmpl/{{ image }}"
  unprivileged = true
  start        = true
  onboot       = true

  ssh_public_keys = <<-EOT
    ssh-ed25519 {{ ssh_public_key }} jsck
  EOT

  rootfs {
    storage = "local-lvm"
    size    = "{{ storage }}G"
  }

  network {
    name   = "eth0"
    bridge = "vmbr1"
    ip     = "dhcp"
  }

  cores  = {{ cores }}
  memory = {{ memory }}
}